<div class="mt-4">
  <form method="get" action="/news">
    <div class="form-group">
      <label for="search-input">Nhập từ khóa</label>
      <input type="text" name="name" class="form-control" id="search-input" placeholder="Nhập tên..."/>
      <input type="text" name="age" class="form-control" id="search-input" placeholder="Nhập tuổi..."/>
      <input type="text" name="keywords" class="form-control" id="search-input" placeholder="Nhập từ khóa..."/>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>